<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
<!--webpage for registering, editing and deleting entrances to the database-->
<h2>Motor Bikes Dealer<h2>
    <table border="1">
        <thead>
            <tr>
                <td>Model</td>
                <td>Brand</td>
                <td>year</td>
                <td>Engine Size</td>
                <td>Availability</td>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(details) { %>
            <tr>
                <td><%= details.model %></td>
                <td><%= details.brand %></td>
                <td><%= details.year %></td>
                <td><%= details.engineSize %></td>
                <td><%= details.availability %></td>
                <td><a href="/edit/<%= details._id %>">Edit</a> - <a href="/delete/<%= details._id %>">Delete</a></td>
            </tr>
            <% }) %>
        </tbody>
        <button><a href="/">Return</a></button>
</body>
</html>
